@import '../variables';

.map{
    width: 90%;
    margin: 0px auto;
    padding-bottom: 45px;
}
.content__title_2{
    font-weight: 800;
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.map_info{
    
}
.map_distance{
    display: block; 
    position: absolute;
    z-index: 1;
    width: 270px;
    height: 300px;
    margin-top: 62px;
    background: #ffffff;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
}
.map_distance p {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}
.geo{
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
.route{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}